body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    height: 70vh;
    width: 70vw;
    border: 1px solid black;
    

}
input{
    background-color: black;
    border: none;
    color: grey;
    
}
label{
    color: grey;
}
